<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958184258437-tnal1v5skf0lc6dhp1m51nqcusrfvlbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958184258437-tnal1v5skf0lc6dhp1m51nqcusrfvlbp</string>
	<key>API_KEY</key>
	<string>AIzaSyAoO7zlS3ZUfY0Uyf9TIWpEQBZAGNvbrkA</string>
	<key>GCM_SENDER_ID</key>
	<string>958184258437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminApp</string>
	<key>PROJECT_ID</key>
	<string>adminapp-a2971</string>
	<key>STORAGE_BUCKET</key>
	<string>adminapp-a2971.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958184258437:ios:d666b3cc777711b24922ec</string>
</dict>
</plist>